
<div class="consult-container">
  <h2>Liste</h2>
  <article class="consultation">
      <div *ngFor="let ressource of ressources" class="card-container">
        <a class="card" target="_blank" rel="noopener" (click)="onSelect(ressource)">
            {{ ressource.version }}
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>   
        </a>
      </div>
  </article>


  <div class="details">
    <div *ngIf="selectedRessource">
      
      <h2>Détails</h2>
      <!-- <h2>{{selectedRessource.version | uppercase}}</h2> -->
      <h2 class="name-ressource">{{selectedRessource.version }}</h2>
      <form class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id de la ressource" value="{{selectedRessource.id}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Version</mat-label>
          <input matInput placeholder="id de la ressource" value="{{selectedRessource.version}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Longueur</mat-label>
          <input matInput placeholder="id de la ressource" value="{{selectedRessource.longueur}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Famille</mat-label>
          <input matInput placeholder="id de la ressource" value="{{selectedRessource.famille}}">
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="deleteRessource(selectedRessource.id)" >Supprimer</button>
        <button mat-raised-button color="primary" (click)="updateRessource(selectedRessource.id)" >Modifier</button>
        <!--
        <table>
          <tr>
            <div class="info"><th><span>Id</span></th><td>{{selectedRessource.id}}</td></div>
          </tr>
          <tr>
            <div class="info"><th><span>Version </span></th><td>{{selectedRessource.version}}</td></div>
          </tr>
          <tr>
           <div class="info"><th><span>Longueur</span></th><td>{{selectedRessource.longueur}}</td></div>
          </tr>
          <tr>
            <div class="info"><th><span>Famille</span></th><td>{{selectedRessource.famille}}</td></div>
          </tr>
        </table>
        <button class="button" (click)="deleteRessource(selectedRessource.id)" >Supprimer</button>
        -->
      </form>
      
    </div>
  </div>
</div>
