
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://www.txtgroup.com/fileadmin/_processed_/1/b/csm_PACE_Airbus_Logo_CaseStudy_624fdd553a.png"
  />
  <span>Airbus API</span>
    <div class="spacer"></div>
</div>


<div class="content" role="main">

  <div class="card-container">
    <div class="card card-small" tabindex="0">
      <a routerLink="/consult">Consulter les ressources</a> 
    </div>

    <div class="card card-small"  tabindex="0">
      <a routerLink="/create">Créer une ressource</a>
    </div>
  
    <div class="card card-small" tabindex="0">
      <a routerLink="/update">Modifier une ressource</a>
      
    </div>
  
    <div class="card card-small" tabindex="0">
      <a routerLink="/delete">Supprimer une ressource</a>
    </div>
  </div>

  <router-outlet></router-outlet>


