<div id="det">
<div class="container">
<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
  <h2>Créer</h2>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Version</mat-label>
      <input matInput placeholder="Nom de la ressource" formControlName="version">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Longueur</mat-label>
      <input matInput placeholder="Longueur de la ressource" formControlName="longueur">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Famille</mat-label>
      <input matInput placeholder="Famille de la ressource" formControlName="famille">
    </mat-form-field>
  </div> 
  
  <button mat-raised-button color="primary" type="submit">Créer ressource</button>

  <!--
  <div class="form-group">
    <label for="version">
      Version
    </label>
    <input id="version" type="text" formControlName="name">
  </div>

  <div class="form-group">
    <label for="longueur">
      Longueur
    </label>
    <input id="longueur" type="text" formControlName="age">
  </div>

  <div class="form-group">
    <label for="famille">
      Famille
    </label>
    <input id="famille" type="text" formControlName="category">
  </div>

  <button class="button" type="submit">Créer ressource</button>
  -->
</form>
</div>
</div>